@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
  font-family: "Roboto";
}
body {
  background: #0d2a45;
  margin: 0;
  padding: 0;
  width: 90vw;
  height: 100vh;
  overflow-x: hidden;
}
.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 30px 30px;
  border-radius: 5px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gpHeader {
  color: aliceblue;
  text-align: center;
  margin-top: 100px;
}
.btn-lg {
  background: #7fd096;
  width: 40%;
  padding: 18px;
  border-style: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}
.gpBox {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  border-style: none;
  border: #f4f4f4 solid 1px;
  margin: auto;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}
input:focus {
  outline: none !important;
  border: blue solid 1px;
}
.inputBox {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.courseNote {
  color: #7fd096;
}
.inputBox input {
  margin-right: 10px;
  width: 30%;
}
.gpResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
  overflow: none;
  padding: 30px 30px;
  border-radius: 5px;
  background: white;
  visibility: hidden;
}
.gpResult img {
  height: 200px;
  width: 200px;
}
.btn-2 {
  width: 50%;
  margin: auto;
}
@media (max-width: 500px) {
  .container,
  .gpResult {
    width: 90%;
    margin: 10px;
  }
  .inputBox input {
    width: 100%;
  }
  .inputBox {
    margin: auto;
    width: 100vw;
  }
  .btn-2 {
    width: 70%;
    margin: auto;
  }
  .gpHeader {
    margin-top: 80px;
  }
}
